* {
    font-family: montserrat;
}

body {
    background: f1fbff;
} 
/* .carousel-item {
    height: 100vh;
    min-height: 300px;
} */
.carousel-caption h5{
    margin-bottom: 15px;
    font-size: 45px;

}

.carousel-caption.d-none.d-md-block button {
    margin-bottom: 160px;
}
body.nav-light .navbar-brand {
    color: #000;
}

body.nav-light .carousel-inner::before {
    background: rgba(0, 0, 0, 0.7);
}
.navbar-nav .nav-link:hover {
    background-color: rgba(0, 0, 0, 0.7); /* Change background color on hover */
    border-radius: 5px; /* Optional: Add rounded corners */
    transition: background-color 0.9s ease; /* Smooth transition */
    font-weight: bold; /* Make the text bold on hover */
    border-bottom: 2px solid orange; /* Add orange underline on hover */
}
